    <div class="col-sm-12">
      <div class="p-comment h-entry" id="comment-$commentId">
        <header>
  $actorTemplate
          <a href="$entryUrl" class="u-in-reply-to">$entryTitle</a>
          <a class="u-url" href="$commentUrl">
            <time class="dt-published" datetime="$commentPublishedDateTime">$commentPublishedFormatted</time>
  	</a>
          <time class="dt-updated" datetime="$commentUpdatedDateTime" data-prefix="$commentUpdatedPrefixData">$commentUpdatedFormatted</time>

          <p class="p-summary">$commentContentSummary</p>
        </header>

        <section class="content">
          <div class="p-content">
            <p class="body p-name">$commentContentBody</p>
          </div>
        </section>
      </div>
    </div>