<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>$title</title>
  <meta name="description" content="$description">
  <meta name="author" content="$author">
  <link rel="stylesheet" href="$css_path/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <style>
  </style>
</head>

<body>
  <div class="container-fluid">
      <div id="page-body" class="row">
    $body
      </div>
  </div>
</body>
</html>